body {
	margin: 200px;
	font-size: 24px;
	background-color: #7f7f7f;
}

ul.hidden {
	display: none;
}

h1 {
	justify-content: center;
	text-align: center;
}

.button {
	justify-content: center;
	text-align: center;
}

button {
	font-size: 24px;
	justify-content: center;
	text-align: center;
	height: 80px;
	width: 250px;
}

